@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-primary: #18181b;
  --color-primary-foreground: #fafafa;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
